.si div,header, span{
    color: white;
}

.dark-green{
  background-color: #022a2e;
}

.si{
  background-image: url("imgs/banner.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.carousel-inner img {
  height: 300px;
}
